<html>

<head>
    <title>Access Point Client Discovery</title>
    <link rel="icon" type="image/png" href="static/favicon.png"/>
    
    <! custom font >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <style>
        .clickimg {
            width: 200px; /* Set the width to 200 pixels */
            height: 150px; /* Set the height to 150 pixels */
        }
        
        /* CSS to center the image */
        .container {
            text-align: center; /* Align the content (including the image) to the center */
        }
        
        .hombar {
            color: #000; /* Text color */
            padding: 1px 20px; /* Padding around text */
            text-align: left; /* Center-align text */
        }

        /* Style for the navigation bar */
        .navbar {
            background-color: #333; /* Background color of the navbar */
            color: #fff; /* Text color */
            padding: 1px 20px; /* Padding around text */
            /* text-align: left; /* Center-align text */
        }
        
        /* font styles */
        .montserrat-regular {
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }
        .montserrat-bold {
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
        }
        .montserrat-humongos {
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 900;
            font-style: normal;
        }

        /* font sizes */
        .large { /* for headings */
            font-size: 24px; /* Adjust the size as needed */
            text-align: center; /* Align the content (including the image) to the center */
        }

        .medium {
            font-size: 18px; /* Adjust the size as needed */
        }

        .small {
            font-size: 14px; /* Adjust the size as needed */
        }
        
        /* CSS to style the button */
        button {
            font-size: 20px; /* Set the font size to 16 pixels */
            font-family: "Montserrat", sans-serif; /* Set the font family */
            font-weight: 300;
            font-style: normal;
        }
        
        /* Optional: Add some basic styling to the table */
        table {
            width: 100%; /* Make the table take up the full width of its container */
            border-collapse: collapse; /* Collapse table borders */
        }

        th, td {
            border: 1px solid #dddddd; /* Add a border to table cells */
            padding: 8px; /* Add padding to table cells */
            text-align: center; /* Align text to the left */
        }

        th {
            background-color: #f2f2f2; /* Add a background color to table headers */
        }

    </style>

    
    <script>
        // Function to handle button click
        function fetchPrevScan() {
            document.getElementById("scan-table").innerHTML = " ";
            // Send AJAX request to the endpoint
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/AP_prev_scan_results", true); // Replace "your_endpoint_url_here" with the actual endpoint URL
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Update the content of the webpage with the received data
                    document.getElementById("scan-table").innerHTML = xhr.responseText;
                }
            };
            xhr.send();
        }
    </script>


</head>

<body style="background-color: lightblue;">
<div class="hombar">
<p class="montserrat-bold small"><a href="http://0.0.0.0:5000">HOME</a></p>
</div>
<br>

<div class="navbar">
<p class="montserrat-regular large"> Access Point Client Discovery</p>
</div>
<br>


<div class="container">
    <img src="static/AP-scan-clients.png" alt="Access point scan" title="Access point scan" class="clickimg">
    <br> <!-- Button to trigger the AJAX request -->
    <button onclick="fetchPrevScan()">See previously run scan</button>
</div>



<br>
<form action="" method="post">
  <center>
    <input type="text" placeholder="AP MAC Address" name="mac" value="{{
      request.form.mac }}">
    <br>
    <input type="text" placeholder="Channel" name="channel" value="{{
        request.form.channel }}">
    <br>
    <br>
    <input class="btn btn-default" type="submit" value="SEND">
  </center>
</form>
<br>

{{ clients|safe }}


<!-- Container to display the received data -->
<div id="scan-table"></div>
<div class="montserrat-regular large" id="scan-status"></div>
<div id="scan-status-final"></div>


</body>
</html>
